
<section class="about">
	<div class="inner">
		<div class="intro">
			<i class="icon icon-about"></i>
			<h2 class="intro__title glitch" data-text="О компании">О компании</h2>
			<p class="intro__subtitle">
				1CallCenter - это международная группа контакт-центров, 
				расположенных в Украине, России, Таиланде, и работающих
				на рынках стран СНГ, Европы, Африки, Азии			
			</p>
		</div>
		<div class="about__intro"></div>
		<ul class="about__list">
			<li class="about__list-item">
				<div class="about__list-desc">
					<h4 class="h4">Мы — колл-центр</h4>
					<p>Предоставляем широкий спектр услуг, 
					а именно:</p>
				</div>
				<ul class="advantages__list advantages__list1">
					<li class="advantages__list-item">
						<div class="advantages__list-content">
							<h5 class="h5">Услуги продаж</h5>
						</div>
					</li>
					<li class="advantages__list-item">
						<div class="advantages__list-content">
							<h5 class="h5">Услуги сервиса</h5>
						</div>
					</li>
				</ul>
			</li>
			<li class="about__list-item">
				<div class="about__list-desc">
					<h4 class="h4">Наши преимущества</h4>
					<p>Продажи в телефонном режиме, горячие линии, телемаркетинг, звонки с целью создания и актуализации баз данных — 
						и это не полный перечень услуг 
					1CallCenter.</p>
				</div>
			</li>
			<li class="about__list-item">
				<div class="about__list-desc">
					<h4 class="h4">Современные технологии</h4>
					<p>Поддержка традиционных телефонных технологий и VoIP, интеграция 
						с корпоративными системами, интеллектуальная запись разговоров 
						и многое другое.
					</p>
				</div>
			</li>
		</ul>
		<div class="text-c">
			<a href="#" class="btn-more">Подробнее о нас</a>
		</div>
	</div>
</section>