<section class="career">
	<div class="inner">
		<div class="intro">
			<i class="icon icon-career"></i>
			<h2 class="intro__title">Карьера</h2>
			<div class="intro__subtitle">
				<p>
					Хочешь начать карьеру в большой компании? 
				</p>
				<p>
					1Call приглашает стать частью команды!
				</p>
			</div>
		</div>
		<!-- BEGIN vacancy -->
		<div class="vacancy bordered">
			<h3 class="h3">
				Наши вакансии
			</h3>
			<ul class="vacancy__list">
				<li class="vacancy__list-item">
					<div class="vacancy__list-content">
						<h4 class="h4">Оператор колл-центра</h4>
						<p>Не боящийся телефонов человек, который поможет быстро 
						и качественно сделать заказ</p>
					</div>
				</li>
				<li class="vacancy__list-item">
					<div class="vacancy__list-content">
						<h4 class="h4">Аккаунт-менеджер</h4>
						<p>Связной между заказчиком и командой, ментор для коллег и супермен, который готов помочь клиенту в любое время</p>
					</div>
				</li>
				<li class="vacancy__list-item">
					<div class="vacancy__list-content">
						<h4 class="h4">Менеджер по продажам</h4>
						<p>Любит общаться с клиентами, заряжать их хорошим настроением, при этом 
						может продать им все что угодно!</p>
					</div>
				</li>
			</ul>
			<div class="vacancy__subtitle">
				<p>
					Если ты владеешь русским языком — мы с радостью ждём тебя в команде профессионалов. 
				</p>
				<p>
					А если ещё и знаешь итальянский, испанский, немецкий, греческий, португальский 
					и другие европейские языки — то ты точно наш идеальный кандидат.
				</p>
			</div>
			<a class="btn" href="">все вакансии</a>
		</div>
		<!-- END vacancy -->
		<!-- BEGIN jobs -->
		<div class="jobs bordered">
			<h3 class="h3">
				Наши офисы
			</h3>
			<div class="slider-wrp">
				<div class="slider js-slider1">
					<div class="slider__item">
						<div class="slider__pic">
							<img src="img/office/1.jpg" alt="">
						</div>
						<div class="slider__desc">
							<h4>г. Киев</h4>
							<p>190 человек</p>
						</div>
					</div>
					<div class="slider__item">
						<div class="slider__pic">
							<img src="img/office/2.jpg" alt="">
						</div>
						<div class="slider__desc">
							<h4>г. Харьков</h4>
							<p>350 человек</p>
						</div>
					</div>
					<div class="slider__item">
						<div class="slider__pic">
							<img src="img/office/3.jpg" alt="">
						</div>
						<div class="slider__desc">
							<h4>г. Львов</h4>
							<p>160 человек</p>
						</div>
					</div>
					<div class="slider__item">
						<div class="slider__pic">
							<img src="img/office/4.jpg" alt="">
						</div>
						<div class="slider__desc">
							<h4>г. Ужгород</h4>
							<p>40 человек</p>
						</div>
					</div>
					<div class="slider__item">
						<div class="slider__pic">
							<img src="img/office/1.jpg" alt="">
						</div>
						<div class="slider__desc">
							<h4>г. Киев</h4>
							<p>190 человек</p>
						</div>
					</div>
				</div>
				<div class="slider-controls">
					<button type="button" class="arrows arrow-prev js-prev1">
					</button>
					<button type="button" class="arrows arrow-next js-next1">
					</button>
				</div>

			</div>
			<div class="jobs__subtitle">
				<p>
					Нас уже более 1000 человек в 6 офисах.
				</p> 
				<p>
					И у тебя есть шанс стать частью нашего дружного коллектива!
				</p>
			</div>
		</div>
		<!-- END jobs -->
		<!-- BEGIN advantages -->
		<div class="advantages bordered">
			<h3 class="h3">
				Преимущества работы у нас
			</h3>
			<ul class="advantages__list">
				<li class="advantages__list-item">
					<div class="advantages__list-content">
						<h5 class="h5">Рост</h5>
						<p>
							80% руководителей компании начинали свою карьеру в 1Call
						</p>
					</div>
				</li>
				<li class="advantages__list-item">
					<div class="advantages__list-content">
						<h5 class="h5">Развитие</h5>
						<p>Продвинутая система внутреннего и внешнего обучения сотрудников</p>
					</div>
				</li>
				<li class="advantages__list-item">
					<div class="advantages__list-content">
						<h5 class="h5">Достойный доход</h5>
						<p>Прозрачная система дохода, привязана к эффективности каждого сотрудника</p>
					</div>
				</li>
				<li class="advantages__list-item">
					<div class="advantages__list-content">
						<h5 class="h5">Система бонусов</h5>
						<p>Регулярные поощрения 
						для активных и результативных сотрудников</p>
					</div>
				</li>
				<li class="advantages__list-item">
					<div class="advantages__list-content">
						<h5 class="h5">Лояльность</h5>
						<p>Уважительное отношение 
						к сотрудникам со стороны руководства</p>
					</div>
				</li>
				<li class="advantages__list-item">
					<div class="advantages__list-content">
						<h5 class="h5">Комфортный офис</h5>
						<p>Кроме рабочих мест, есть
						игровые зоны с приставками, теннисом, кухня с бесплатными снеками</p>
					</div>
				</li>
				<li class="advantages__list-item">
					<div class="advantages__list-content">
						<h5 class="h5">Молодой коллектив</h5>
						<p>Средний возраст сотрудника компании 1Call — 27 лет</p>
					</div>
				</li>
				<li class="advantages__list-item">
					<div class="advantages__list-content">
						<h5 class="h5">Тимбилдинг</h5>
						<p>Вечерний досуг, спортивные мероприятия, яркие корпоративы</p>
					</div>
				</li>
			</ul>
			<div class="advantages__subtitle">
				Уверен в своих силах? Присоединяйся!
			</div>
			<div class="text-c">
				<a href="#" class="btn-more">
					подробнее о карьере
				</a>
			</div>
		</div>
		<!-- END advantages -->
	</div>
</section>