<section class="contacts">
	<div class="layout layout__4"></div>
	<div class="inner">
		<div class="intro">
			<i class="icon icon-contact"></i>
			<h2 class="intro__title color-wh">Контакты</h2>
		</div>
		<div class="contacts__info">
			<ul class="contacts__list">
				<li class="contacts__list-item">
					<div class="contact">
						<p class="contact__city">
							Киев
						</p>
						<a class="contact__link" href="tel:380639246737">+38 (063) 924-67-37</a>
					</div>
				</li>	
				<li class="contacts__list-item">
					<div class="contact">
						<p class="contact__city">Донецк</p>
						<a class="contact__link" href="tel:380990867725">+38 (099) 086-77-25</a>
					</div>
				</li>
				<li class="contacts__list-item">
					<div class="contact">
						<p class="contact__city">Львов</p>
						<a class="contact__link" href="tel:380667672741">+38 (066) 767-27-41</a>
						<a class="contact__link" href="tel:380634324760">+38 (063) 432-47-60</a>
					</div>
				</li>	
				<li class="contacts__list-item">
					<div class="contact">
						<p class="contact__city">Черновцы</p>
						<a class="contact__link" href="tel:380506728269">+38 (050) 672-82-69</a>
						<a class="contact__link" href="tel:380673737817">+38 (067) 373-78-17</a>
					</div>
				</li>	
				<li class="contacts__list-item">
					<div class="contact">
						<p class="contact__city">Харьков</p>
						<a class="contact__link" href="tel:380999405657">+38 (099) 940-56-57</a>
						<a class="contact__link" href="tel:380682532150">+38 (068) 253-21-50</a>
					</div>
				</li>	
				<li class="contacts__list-item">
					<div class="contact">
						<p class="contact__city">Ужгород</p>
						<a class="contact__link" href="tel:380958856346">+38 (095) 885-63-46</a>
					</div>
				</li>	
			</ul>
		</div>
		<div class="contacts__map">
			<img src="img/map.png" alt="map">
		</div>



		<div class="order__form">
			<h4>
				Обратная связь
			</h4>
			<form class="order" action="#" method="POST">
				<fieldset>
					<div class="order__fields">
						<div class="order__row">
							<div class="order__col-6">
								<div class="form-group">
									<label for="name" class="form__label">Имя</label>
									<input class="form__input" id="name" type="text" name="name" required="">
									<span class="form__border"></span>
								</div>
							</div>
							<div class="order__col-6">
								<div class="form-group">
									<label for="mail" class="form__label">E-mail</label>
									<input class="form__input" id="mail" type="email" name="email" required="">
									<span class="form__border"></span>
								</div>
							</div>
							<div class="order__col-12">
								<div class="form-group">
									<label for="message" class="form__label">Сообщение</label>
									<input class="form__input" name="message" id="message">
									<span class="form__border"></span>
								</div>
							</div>
						</div>
					</div>
					<div class="order__footer">
						<button type="submit" class="order__button">
							Отправить письмо
						</button>
					</div>
				</fieldset>
			</form>
		</div>

		<div class="text-c">
			<a href="#" class="btn-more color-wh">
				все контакты
			</a>
		</div>
	</div>
</section>