<footer class="footer">
	<div class="layout layout__footer"></div>
	<div class="inner">
		<ul class="social social__footer">
			<li class="social__item">
				<a href="" class="social__link">
					<i class="icon icon-fb"></i>
				</a>
			</li>
			<li class="social__item">
				<a href="" class="social__link">
					<i class="icon icon-tw"></i>
				</a>
			</li>
			<li class="social__item">
				<a href="" class="social__link">
					<i class="icon icon-in"></i>
				</a>
			</li>
		</ul>
		<div class="copyright">
			<p>
				&copy; 
				<script>
					var date = new Date();
					document.write(date.getFullYear());
				</script>  
				1Call.center  
			</p>
		</div>
		<nav class="nav nav__footer">
			<a href="" class="nav__link">
				<span data-hover="О нас">О нас</span>	
			</a>
			<a href="" class="nav__link">
				<span data-hover="Клиенты">Клиенты</span>	
			</a>
			<a href="" class="nav__link">
				<span data-hover="Услуги">Услуги</span>	
			</a>
			<a href="" class="nav__link">
				<span data-hover="Карьера">Карьера</span>	
			</a>
			<a href="" class="nav__link">
				<span data-hover="Отзывы">Отзывы</span>	
			</a>
			<a href="" class="nav__link">
				<span data-hover="Контакты">Контакты</span>	
			</a>
		</nav>
	</div>
</footer>