<header class="header">
	<div class="layout layout__1"></div>
	<div class="inner">
		<div class="header__top">
			<div class="logo">
				<a href="">
					<img src="img/logo.png" alt="call center">
				</a>
			</div>
			<ul class="social social__head">
				<li class="social__item">
					<a href="" class="social__link">
						<i class="icon icon-fb"></i>
					</a>
				</li>
				<li class="social__item">
					<a href="" class="social__link">
						<i class="icon icon-tw"></i>
					</a>
				</li>
				<li class="social__item">
					<a href="" class="social__link">
						<i class="icon icon-in"></i>
					</a>
				</li>
			</ul>
			<div class="menu">
				<nav class="nav nav-mob js-nav">
					<a href="" class="nav__link">
						<span data-hover="О нас">О нас</span>	
					</a>
					<a href="" class="nav__link">
						<span data-hover="Клиенты">Клиенты</span>	
					</a>
					<a href="" class="nav__link">
						<span data-hover="Услуги">Услуги</span>	
					</a>
					<a href="" class="nav__link">
						<span data-hover="Карьера">Карьера</span>	
					</a>
					<a href="" class="nav__link">
						<span data-hover="Отзывы">Отзывы</span>	
					</a>
					<a href="" class="nav__link">
						<span data-hover="Контакты">Контакты</span>	
					</a>
				</nav>
			</div>
			<div class="menu-burger js-burger">
				<span class="menu-burger__item"></span>
				<span class="menu-burger__item"></span>
				<span class="menu-burger__item"></span>
			</div>
			
		</div>
		<div class="header__col">
			<div class="promo">
				<h1 class="promo__title">
					Аутсорсинговый продающий <br>
					колл-центр 1CallCenter 
				</h1>
				<ul class="promo__list">
					<li class="promo__item promo__item-12">
						<select class="promo__select js-select">
							<option>Киев</option>
							<option>Донецк</option>
							<option>Львов</option>
						</select>
					</li>
					<li class="promo__item promo__item-6">
						<a href="tel:380639246737" class="promo__link promo__link-tel">+38 (063) 924-67-37</a>
					</li>
					<li class="promo__item promo__item-6">
						<a class="promo__link promo__link-mail" href="mailto:info@1call.center">info@1call.center</a>
					</li>
				</ul>
				<div class="promo__pic">
					<img src="img/call.png" alt="">
				</div>
			</div>

			<!-- <div class="unit">
				<div class="unit__item unit__item1"></div>
				<div class="unit__item unit__item2"></div>
				<div class="unit__item unit__item3"></div>
				<div class="circle small"></div>
				<div class="circle smaller"></div>
				<div class="circle big"></div>
			</div> -->
		</div>
	</div>
</header>

