<section class="media">
	<div class="inner">
		<div class="intro">
			<i class="icon icon-media"></i>
			<h2 class="intro__title">Наши клиенты</h2>
			<p class="intro__subtitle">
				У нас лучшие клиенты. Присоединяйтесь!
			</p>
		</div>
		<ul class="media__list">
			<li class="media__list-item">
				<div class="media__list-inner">
					<img src="img/media/zdravdar.jpg" alt="zdravdar">
				</div>
			</li>
			<li class="media__list-item">
				<div class="media__list-inner">
					<img src="img/media/beautyart.png" alt="beautyart">
				</div>
			</li>
			<li class="media__list-item">
				<div class="media__list-inner">
					<img src="img/media/mplp.jpg" alt="mplpeurope">
				</div>
			</li>
		</ul>
		<a href="#" class="btn">
			Стать клиентом
		</a>
	</div>
</section>