<section class="reviews">
	<div class="layout layout__3"></div>
	<div class="inner">
		<div class="intro">
			<i class="intro__icon intr__icon-reviews"></i>
			<h2 class="intro__title">Отзывы</h2>
			<div class="intro__subtitle">
				<p>Мы гордимся положительными отзывами! </p>
				<p>И стараемся быть для вас ещё лучше!</p>
			</div>
		</div>
		<div class="slider-wrp slider-wrp_2">
			<div class="reviews__slider js-slider2">
				<div class="reviews__item">
					<div class="container">
						<div class="reviews__comment">
							<p>
								Позвонил, менеджер ответила на все мои вопросы, сделал заказ. Результатом остался доволен. Оперативно и качественно! Буду обращаться к вам ещё не раз. Спасибо
							</p>
						</div>
						<div class="reviews__author">
							<div class="reviews__author-pic">
								<i class="icon icon-author1"></i>
							</div>
							<div class="reviews__author-desc">
								<h5 class="h5">
									Сергей Адамаенко
								</h5>
								<p>
									Директор
								</p>
							</div>
						</div>
					</div>
				</div>
				<div class="reviews__item">
					<div class="container">
						<div class="reviews__comment">
							<p>Хороший офис! Сразу видно, что коллектив дружный! Меня выслушал менеджер и посоветовал как сделать лучше! Приятно удивлён, что мне не задавали лишних вопросов. Я сделал заказ и получил результат! Спасибо! </p>
						</div>
						<div class="reviews__author">
							<div class="reviews__author-pic">
								<i class="icon icon-author2"></i>
							</div>
							<div class="reviews__author-desc">
								<h5 class="h5">Александр Деменский</h5>
								<p>Руководитель</p>
							</div>
						</div>
					</div>
				</div>
				<div class="reviews__item">
					<div class="container">
						<div class="reviews__comment">
							<p>Третий раз меня выручаете! 
								Теперь мы расширили ассортимент. Ждите нас снова в гости. 
							Всем рекомендую эту компанию и буду реккомендовать!</p>
						</div>
						<div class="reviews__author">
							<div class="reviews__author-pic">
								<i class="icon icon-author3"></i>
							</div>
							<div class="reviews__author-desc">
								<h5 class="h5">Вероника Шатко</h5>
								<p>Предприниматель</p>
							</div>
						</div>
					</div>
				</div>
				<div class="reviews__item">
					<div class="container">
						<div class="reviews__comment">
							<p>Долго искал куда обратиться за помощью! Друзья посоветовали 1CallCenter! Таки да! Не подвели! Ребята - вы молодцы! Буду обращаться в вам не раз!</p>
						</div>
						<div class="reviews__author">
							<div class="reviews__author-pic">
								<i class="icon icon-author1"></i>
							</div>
							<div class="reviews__author-desc">
								<h5 class="h5">
									Сергей Адамаенко
								</h5>
								<p>
									Директор
								</p>
							</div>
						</div>
					</div>
				</div>
				
				<div class="reviews__item">
					<div class="container">
						<div class="reviews__comment">
							<p>Прекрасный коллцентр, который помог продать мне большую партию товара. Горячо реккомендую и уверяю, что обращусь еще не раз. 
							В колл-центре работают настоящие профи, преданные делу! </p>
						</div>
						<div class="reviews__author">
							<div class="reviews__author-pic">
								<i class="icon icon-author2"></i>
							</div>
							<div class="reviews__author-desc">
								<h5 class="h5">
									Сергей Адамаенко
								</h5>
								<p>
									Директор
								</p>
							</div>
						</div>
					</div>
				</div>
				
			</div>
			<div class="slider-controls">
				<button type="button" class="arrows arrow-prev js-prev2">
					<!-- <i class="icon icon-arrowLeft"></i> -->
				</button>
				<button type="button" class="arrows arrow-next js-next2">
					<!-- <i class="icon icon-arrowRight"></i> -->
				</button>
			</div>
		</div>
		<div class="text-c">
			<a href="#" class="btn-more">все отзывы</a>
		</div>
	</div>
</section>