<section class="services">
	<div class="layout layout__2"></div>
	<div class="inner">
		<div class="intro">
			<i class="icon icon-services"></i>
			<h2 class="intro__title color-wh glitch" data-text="Наши услуги">Наши услуги</h2>
		</div>
		<div class="services__subtitle">
			Мы предоставляем широкий спектр услуг – от продаж до консультаций
		</div>
		<ul class="services__list">
			<li class="services__list-item">
				<div class="service">
					<div class="service__icon service__icon-1"></div>
				</div>
				<div class="description">
					<h4 class="h4">
						Активные 
						продажи
					</h4>
					<p>
						Эффективные продажи 
						ваших товаров и услуг
					</p>
				</div>
			</li>
			<li class="services__list-item">
				<div class="service">
					<div class="service__icon service__icon-2"></div>
				</div>			
				<div class="description">
					<h4 class="h4">
						Сопровождение
						заказов
					</h4>
					<p>
						Отслеживание заказа от входа 
						до конечного этапа оформления
					</p>
				</div>
			</li>
			<li class="services__list-item">
				<div class="service">
					<div class="service__icon service__icon-3"></div>
				</div>		
				<div class="description">
					<h4 class="h4">
						Обработка звонков
						и консультации
					</h4>
					<p>
						Обработка звонков и консультирование клиентов по вопросам услуг
					</p>
				</div>
			</li>
		</ul>
		<div class="text-c">
			<a href="#" class="btn-more color-wh">Подробнее об услугах</a>
		</div>
	</div>
</section>